/* ---- MOBILE ---- */
#contact-text {
  font-size: 30px;
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 650px;
}

#contact-form textarea {
  height: 100px;
  border: none;
  margin-bottom: 0px;
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  background-color: #EAE1D9;
  width: 250px;
  box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact form textarea[name=msg] {
  padding-left: 0px;
  background-color: #EAE1D9;
  padding-top: 20px;
}

#contact-form input {
  height: 60px;
  display: flex;
  flex-direction: column;
  border: none;
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 24px;
  background-color: #EAE1D9;
  width: 250px;
  box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact-form input[type=text] {
  padding-left: 20px;
}

#contact-form input[type=submit]:hover {
  background-color: #cfcfcf;
  color: #202020;
}

#contact-form input[type=submit] {
  width: 250px;
  font-size: 20px;
  padding-left: 90px;
  padding-top: 15px;
  background-color: #b3b3b3;
  color: #ffffff;
}

/* ---- TABLET ---- */
@media screen and (min-width: 768px) {
  #contact-text {
    font-size: 30px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
  }
  #contact-form {
    padding-top: 30px;
    height: 650px;
  }
  #contact-form textarea {
    height: 100px;
    border: none;
    margin-bottom: 0px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    width: 375px;
    box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
  }
  #contact form textarea[name=msg] {
    padding-left: 40px;
    padding-right: 150px;
    padding-top: 20px;
  }
  #contact-form input {
    height: 60px;
    display: flex;
    flex-direction: column;
    border: none;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    width: 375px;
    box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
  }
  #contact-form input[type=text] {
    padding-left: 20px;
  }
  #contact-form input[type=submit] {
    font-size: 30px;
    width: 375px;
    padding-left: 135px;
    padding-top: 5px;
  }
}
/* ---- DESKTOP ---- */
@media screen and (min-width: 1200px) {
  #contact-text {
    font-size: 30px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
  }
  #contact-form {
    padding-top: 30px;
    height: 650px;
  }
  #contact-form textarea {
    height: 100px;
    border: none;
    margin-bottom: 0px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    width: 375px;
    box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
  }
  #contact form textarea[name=msg] {
    padding-left: 40px;
    padding-right: 150px;
    padding-top: 20px;
  }
  #contact-form input {
    height: 60px;
    display: flex;
    flex-direction: column;
    border: none;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    width: 375px;
    box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
  }
  #contact-form input[type=text] {
    padding-left: 20px;
  }
  #contact-form input[type=submit] {
    width: 375px;
    padding-left: 145px;
    padding-top: 8px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

#logo {
  display: none;
}

#nav {
  list-style-type: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
}

#nav a {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-weight: bold;
}

#hamburger-menu img {
  transition: transform 0.3s ease;
}

#hamburger-menu.active img {
  transform: rotate(90deg);
}

#hamburger-menu {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
  padding-top: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #D9C7B7;
  padding: 10px;
  z-index: 1;
  width: 100vw;
}

.dropdown-menu a {
  display: block;
  padding: 50px;
  color: #6e655c;
  text-decoration: none;
  text-align: center;
}

.dropdown-menu a:hover {
  background-color: #afa194;
  color: #f9f7f5;
}

#nav {
  display: none;
}

#bckg-colr {
  height: 346px;
  background-color: #817162;
}

#bckg-colr-2 {
  height: 346px;
  background-color: #F5EDE4;
}

#bckg-colr-3 {
  height: 346px;
  background-color: #817162;
}

#text-3 {
  height: 200px;
}

#bckg-colr-4 {
  height: 346px;
  background-color: #D9C7B7;
}

#text-box {
  height: 200px;
  background-color: #F5EDE4;
}

#prod-img-1 {
  height: 346px;
}

#text-1 {
  height: 200px;
  background-color: #F2ECE1;
}

#prod-img-2 {
  height: 346px;
}

#text-2 {
  height: 200px;
  background-color: #D9C7B7;
}

#prod-img-3 {
  height: 346px;
}

#prod-img-4 {
  height: 346px;
}

#prod-img-5 {
  height: 346px;
}

footer {
  background-color: #F5EDE4;
  color: rgb(79, 79, 79);
  padding: 20px 0;
  max-width: 100vw;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-container img {
  width: 80px;
  height: auto;
  margin-left: 10%;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(79, 79, 79);
}

nav a:hover {
  text-decoration: underline;
}

/* ---- ABOUT ---- */
#abt-bckg-colr-1 {
  height: 346px;
  background-color: #F5EDE4;
}

#abt-prod-img-1 {
  height: 346px;
}

#abt-text-1 {
  height: 200px;
  background-color: #D9C7B7;
}

/* ---- Tablet ---- */
@media screen and (min-width: 768px) {
  #nav {
    display: flex;
    height: 80px;
    margin-top: 45px;
  }
  /* Hide the hamburger menu placeholder for larger screens */
  #hamburger-menu {
    display: none;
  }
  #logo {
    height: 100px;
    width: 100px;
    margin-left: -150px;
    position: absolute;
    display: block;
    padding-bottom: 10px;
    margin-top: 15px;
  }
  #bckg-colr {
    margin-top: 0;
    height: 350px;
    margin-left: -80px;
    background-color: #817162;
    position: relative;
  }
  #prod-img-1 {
    height: 246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
  }
  #text-1 {
    height: 139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
    background-color: #F2ECE1;
  }
  #bckg-colr-2 {
    height: 350px;
    background-color: #F5EDE4;
    margin-top: 50px;
    position: relative;
  }
  #prod-img-2 {
    margin-top: 200px;
    height: 246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
  }
  #text-2 {
    height: 139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
    background-color: #D9C7B7;
  }
  #bckg-colr-3 {
    height: 350px;
    background-color: #817162;
    margin-top: 50px;
    position: relative;
  }
  #prod-img-3 {
    height: 166px;
    width: 262px;
    display: inline-block;
    position: absolute;
    margin-top: 216px;
    margin-left: 451px;
    z-index: 1;
  }
  #text-3 {
    height: 200px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 63px;
    background-color: #FFFFFF;
  }
  #text-box {
    height: 366px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
    margin-top: 233px;
    background-color: #F5EDE4;
  }
  #bckg-colr-4 {
    height: 366px;
    width: 380px;
    margin-left: -80px;
    background-color: #D9C7B7;
    margin-top: 150px;
    position: relative;
  }
  #prod-img-4 {
    height: 300px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 170px;
    margin-left: 20px;
    align-self: center;
    z-index: 1;
  }
  #prod-img-5 {
    height: 300px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 170px;
    margin-left: 363px;
    align-self: center;
    z-index: 1;
  }
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
    max-width: 100vw;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .logo-container img {
    width: 80px;
    height: auto;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }
  nav a:hover {
    text-decoration: underline;
  }
  /* ---- ABOUT ---- */
  #abt-bckg-colr-1 {
    height: 350px;
    background-color: #F5EDE4;
    position: relative;
  }
  #abt-prod-img-1 {
    margin-top: 200px;
    height: 246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
  }
  #abt-text-1 {
    height: 139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
    background-color: #D9C7B7;
  }
}
/* ---- DESKTOP ---- */
@media screen and (min-width: 1200px) {
  #logo {
    height: 100px;
    width: 200px;
    position: absolute;
  }
  #bckg-colr {
    margin-top: 0;
    height: 600px;
    margin-left: -130px;
    background-color: #817162;
    position: relative;
  }
  #prod-img-1 {
    height: 487px;
    width: 387px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 20%;
  }
  #text-1 {
    height: 339px;
    width: 300px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 30%;
    background-color: #F2ECE1;
  }
  #bckg-colr-2 {
    height: 600px;
    background-color: #F5EDE4;
    margin-top: 200px;
    position: relative;
  }
  #prod-img-2 {
    margin-top: 200px;
    height: 338px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 30%;
  }
  #text-2 {
    height: 339px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 10%;
    background-color: #D9C7B7;
  }
  #bckg-colr-3 {
    height: 600px;
    background-color: #817162;
    margin-top: 200px;
    position: relative;
  }
  #prod-img-3 {
    height: 500px;
    width: 387px;
    display: inline-block;
    position: absolute;
    margin-top: 30%;
    margin-left: 60%;
    z-index: 1;
  }
  #text-3 {
    height: 300px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 10%;
    background-color: #FFFFFF;
  }
  #text-box {
    height: 500px;
    width: 387px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 60%;
    margin-top: 15%;
    background-color: #F5EDE4;
  }
  #bckg-colr-4 {
    height: 600px;
    margin-left: -170px;
    background-color: #D9C7B7;
    margin-top: 400px;
    position: relative;
  }
  #prod-img-4 {
    height: 500px;
    width: 300px;
    display: inline-block;
    position: absolute;
    margin-top: 420px;
    margin-left: 0%;
    align-self: center;
    z-index: 1;
  }
  #prod-img-5 {
    height: 500px;
    width: 300px;
    display: inline-block;
    position: absolute;
    margin-top: 420px;
    margin-left: 30%;
    align-self: center;
    z-index: 1;
  }
  #heading-2 {
    height: 343px;
  }
  #heading-3 {
    height: 198px;
  }
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
  }
  .logo-container img {
    width: 80px;
    height: auto;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }
  nav a:hover {
    text-decoration: underline;
  }
  /* ---- ABOUT ---- */
  #abt-bckg-colr-1 {
    height: 600px;
    background-color: #F5EDE4;
    position: relative;
  }
  #abt-prod-img-1 {
    margin-top: 200px;
    height: 338px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 30%;
  }
  #abt-text-1 {
    height: 339px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 10%;
    background-color: #D9C7B7;
  }
}/*# sourceMappingURL=main.css.map */