.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

#logo {
  display: none;
}

#nav {
  list-style-type: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
}

#nav a {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-weight: bold;
}

#hamburger-menu {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
  padding-top: 20px;
}

#hamburger-menu::before,
#hamburger-menu::after {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #333;
  position: absolute;
}

#hamburger-menu::before {
  top: 0;
}

#hamburger-menu::after {
  bottom: 10;
  width: 100%;
}

#hamburger-menu.active::before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#hamburger-menu.active::after {
  transform: rotate(45deg) translate(-5px, -6px);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #555;
}

#nav {
  display: none;
}

#hamburger-menu {
  display: block;
}

#hamburger-menu.active + .dropdown-menu {
  display: block;
}

/* ---- MOBILE ---- */
#bckg-colr {
  height: 346px;
  background-color: #817162;
}

#bckg-colr-2 {
  height: 346px;
  background-color: #F5EDE4;
}

#bckg-colr-3 {
  height: 346px;
  background-color: #817162;
}

#text-3 {
  height: 200px;
}

#bckg-colr-4 {
  height: 346px;
  background-color: #D9C7B7;
}

#text-box {
  height: 200px;
  background-color: #F5EDE4;
}

#prod-img-1 {
  height: 346px;
}

#text-1 {
  height: 200px;
  background-color: #F2ECE1;
}

#prod-img-2 {
  height: 346px;
}

#text-2 {
  height: 200px;
  background-color: #D9C7B7;
}

#prod-img-3 {
  height: 346px;
}

#prod-img-4 {
  height: 346px;
}

#prod-img-5 {
  height: 346px;
}

footer {
  background-color: #F5EDE4;
  color: rgb(79, 79, 79);
  padding: 20px 0;
  max-width: 100vw;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-container img {
  width: 80px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(79, 79, 79);
}

nav a:hover {
  text-decoration: underline;
}

/* ---- Tablet ---- */
@media screen and (min-width: 768px) {
  #nav {
    display: flex;
    height: 80px;
  }
  /* Hide the hamburger menu placeholder for larger screens */
  #hamburger-menu {
    display: none;
  }
  #logo {
    height: 100px;
    width: 100px;
    margin-left: -100px;
    position: absolute;
    display: block;
    padding-bottom: 20px;
  }
  #bckg-colr {
    margin-top: 0;
    height: 350px;
    margin-left: -80px;
    background-color: #817162;
    position: relative;
  }
  #prod-img-1 {
    height: 246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
  }
  #text-1 {
    height: 139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
    background-color: #F2ECE1;
  }
  #bckg-colr-2 {
    height: 350px;
    background-color: #F5EDE4;
    margin-top: 50px;
    position: relative;
  }
  #prod-img-2 {
    margin-top: 200px;
    height: 246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
  }
  #text-2 {
    height: 139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
    background-color: #D9C7B7;
  }
  #bckg-colr-3 {
    height: 350px;
    background-color: #817162;
    margin-top: 50px;
    position: relative;
  }
  #prod-img-3 {
    height: 166px;
    width: 262px;
    display: inline-block;
    position: absolute;
    margin-top: 216px;
    margin-left: 451px;
    z-index: 1;
  }
  #text-3 {
    height: 200px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 63px;
    background-color: #FFFFFF;
  }
  #text-box {
    height: 366px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
    margin-top: 233px;
    background-color: #F5EDE4;
  }
  #bckg-colr-4 {
    height: 366px;
    width: 380px;
    margin-left: -80px;
    background-color: #D9C7B7;
    margin-top: 150px;
    position: relative;
  }
  #prod-img-4 {
    height: 300px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 170px;
    margin-left: 20px;
    align-self: center;
    z-index: 1;
  }
  #prod-img-5 {
    height: 300px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 170px;
    margin-left: 363px;
    align-self: center;
    z-index: 1;
  }
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
    max-width: 100vw;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .logo-container img {
    width: 80px;
    height: auto;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }
  nav a:hover {
    text-decoration: underline;
  }
}
/* ---- DESKTOP ---- */
@media screen and (min-width: 1200px) {
  #logo {
    height: 100px;
    width: 200px;
    position: absolute;
  }
  #bckg-colr {
    margin-top: 0;
    height: 600px;
    margin-left: -130px;
    background-color: #817162;
    position: relative;
  }
  #prod-img-1 {
    height: 487px;
    width: 387px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 20%;
  }
  #text-1 {
    height: 339px;
    width: 300px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 30%;
    background-color: #F2ECE1;
  }
  #bckg-colr-2 {
    height: 600px;
    background-color: #F5EDE4;
    margin-top: 200px;
    position: relative;
  }
  #prod-img-2 {
    margin-top: 200px;
    height: 338px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 30%;
  }
  #text-2 {
    height: 339px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 10%;
    background-color: #D9C7B7;
  }
  #bckg-colr-3 {
    height: 600px;
    background-color: #817162;
    margin-top: 200px;
    position: relative;
  }
  #prod-img-3 {
    height: 500px;
    width: 387px;
    display: inline-block;
    position: absolute;
    margin-top: 30%;
    margin-left: 60%;
    z-index: 1;
  }
  #text-3 {
    height: 300px;
    width: 487px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 10%;
    background-color: #FFFFFF;
  }
  #text-box {
    height: 500px;
    width: 387px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 60%;
    margin-top: 15%;
    background-color: #F5EDE4;
  }
  #bckg-colr-4 {
    height: 600px;
    margin-left: -170px;
    background-color: #D9C7B7;
    margin-top: 400px;
    position: relative;
  }
  #prod-img-4 {
    height: 500px;
    width: 300px;
    display: inline-block;
    position: absolute;
    margin-top: 420px;
    margin-left: 0%;
    align-self: center;
    z-index: 1;
  }
  #prod-img-5 {
    height: 500px;
    width: 300px;
    display: inline-block;
    position: absolute;
    margin-top: 420px;
    margin-left: 30%;
    align-self: center;
    z-index: 1;
  }
  #heading-2 {
    height: 343px;
  }
  #heading-3 {
    height: 198px;
  }
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .logo-container img {
    width: 80px;
    height: auto;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);
  }
  nav a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=main.css.map */