

/* ---- MOBILE ---- */
header {
   background-color: #F2ECE1;
}
#nav2 {
    display: none;
 }
 
 #nav3 {
    display: none;
 }
 
 
 #bckg-colr {
    height: 346px;
    background-color: #817162;
  
 }

 
 #bckg-colr-2 {
    height: 346px;
    background-color: #F5EDE4;
 }

 #bckg-colr-3 {
   height: 346px;
   background-color: #817162;
}
#text-3 {
   height: 200px;
}

#bckg-colr-4 {
   height: 346px;
   background-color: #D9C7B7;
}

#text-box {
   height: 200px;
   background-color: #F5EDE4;
}
 
 #prod-img-1{
    height:346px;
 }

 #text-1 {
   height: 200px;
   background-color: #F2ECE1;
 }
 
 #prod-img-2 {

    height: 346px;
 }

 #text-2 {
 height: 200px;
 background-color: #D9C7B7;
 }
 
 #prod-img-3 {
   
    height: 346px;
 }
 
 #prod-img-4 {
   height: 346px;
 }

 #prod-img-5 {
   height: 346px;
 }
 
 footer {
   background-color: #F2ECE1;
 }
 
 
 
 



/* ---- Tablet ---- */

@media screen and (min-width: 768px) {

   header {
      height:150px;
      background-color: #F5EDE4;
      
  }

  #nav2 {
      display: inline-block;
  }
   
   #nav3 {
      display: inline-block;
  }

   #bckg-colr {
     margin-top: 0;
      height: 350px;
     margin-left: -80px;
      background-color: #817162;
      position: relative;
    
  }

  #prod-img-1{
    height:246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
}

#text-1 {

    height:139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
    background-color: #F2ECE1;
}

#bckg-colr-2 {
      height: 350px;
      background-color: #F5EDE4;
      margin-top: 50px;
      position: relative;
  }

  #prod-img-2{
    margin-top: 200px;
    height:246px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 289px;
}

#text-2 {

    height:139px;
    width: 262px;
    display: inline-block;
    position: absolute;
    align-self: center;
    margin-left: 80px;
    background-color: #D9C7B7;
}

  #bckg-colr-3 {
    height: 350px;
    background-color: #817162;
    margin-top: 50px;
    position: relative;
}


#prod-img-3{
 height: 166px;
 width: 262px;
 display: inline-block;
 position: absolute;
 margin-top: 216px;
 margin-left: 451px;
 z-index: 1;
}

#text-3 {

 height:200px;
 width: 262px;
 display: inline-block;
 position: absolute;
 align-self: center;
 margin-left: 63px;
 background-color: #FFFFFF;
}

#text-box {
 height:366px;
 width: 262px;
 display: inline-block;
 position: absolute;
 align-self: center;
 margin-left: 289px;
 margin-top: 233px;
 background-color: #F5EDE4;

}

#bckg-colr-4 {
 height: 366px;
 width: 380px;
 margin-left: -80px;
 background-color: #D9C7B7;
 margin-top:150px;
 position: relative;
}

#prod-img-4{
 height: 300px;
 width: 200px;
 display: inline-block;
 position: absolute;
 margin-top: 170px;
 margin-left: 20px;
 align-self: center;
 z-index: 1;
}
#prod-img-5{
 height: 300px;
 width: 200px;
 display: inline-block;
 position: absolute;
 margin-top: 170px;
 margin-left: 363px;
 align-self: center;
 z-index: 1;
}
  footer {
    background-color:#F2ECE1;
  }

}


/* ---- DESKTOP ---- */

@media screen and (min-width: 1920px) {

    header {
        height:150px;
        background-color: #F5EDE4;
        
    }

    #nav2 {
        display: inline-block;
    }
     
     #nav3 {
        display: inline-block;
    }
  
     #bckg-colr {
       margin-top: 0;
        height: 1000px;
        margin-left: -130px;
        background-color: #817162;
        position: relative;
      
    }

    #prod-img-1{
      height:738px;
      width: 787px;
      display: inline-block;
      position: absolute;
      align-self: center;
      margin-left: 80px;
  }

  #text-1 {

      height:339px;
      width: 787px;
      display: inline-block;
      position: absolute;
      align-self: center;
      margin-left: 867px;
      background-color: #F2ECE1;
  }
  
  #bckg-colr-2 {
        height: 1000px;
        background-color: #F5EDE4;
        margin-top: 200px;
        position: relative;
    }

    #prod-img-2{
      margin-top: 200px;
      height:738px;
      width: 787px;
      display: inline-block;
      position: absolute;
      align-self: center;
      margin-left: 867px;
  }

  #text-2 {

      height:339px;
      width: 787px;
      display: inline-block;
      position: absolute;
      align-self: center;
      margin-left: 80px;
      background-color: #D9C7B7;
  }
  
    #bckg-colr-3 {
      height: 1000px;
      background-color: #817162;
      margin-top: 200px;
      position: relative;
  }
  

  #prod-img-3{
   height: 500px;
   width: 787px;
   display: inline-block;
   position: absolute;
   margin-top: 650px;
   margin-left: 1067px;
   z-index: 1;
}

#text-3 {

   height:600px;
   width: 787px;
   display: inline-block;
   position: absolute;
   align-self: center;
   margin-left: 190px;
   background-color: #FFFFFF;
}

#text-box {
   height:1100px;
   width: 787px;
   display: inline-block;
   position: absolute;
   align-self: center;
   margin-left: 867px;
   margin-top: 700px;
   background-color: #F5EDE4;

}

  #bckg-colr-4 {
   height: 1100px;
   margin-left: -170px;
   background-color: #D9C7B7;
   margin-top: 400px;
   position: relative;
}

#prod-img-4{
   height: 900px;
   width: 600px;
   display: inline-block;
   position: absolute;
   margin-top: 420px;
   margin-left: 60px;
   align-self: center;
   z-index: 1;
}
#prod-img-5{
   height: 900px;
   width: 600px;
   display: inline-block;
   position: absolute;
   margin-top: 420px;
   margin-left: 1090px;
   align-self: center;
   z-index: 1;
}

   
    
     
     
     
   
 
  
     #heading-2 {
        height: 343px
    }
  
     #heading-3 {
        height: 198px;
    }
  
   
  
    #insta-icon {
     height: 98px;
    } 

    footer {
      background-color:#F2ECE1;
    }

}


