

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  color: #D9C7B7;
  }

  #sec-1 {
    background-color:#817162;
    padding-bottom: 40px;
  }
  #sec-2 {
    background-color: #D9C7B7;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #sec-3 {
        background-color:#817162;
        padding-top: 40px;
        padding-bottom: 40px;
  }


/*----- HEADER -----*/

  #logo {
display: none;
  }

  #nav2 {
    display: none;
  }
  #nav-con {
    display: none;
  }
  #nav {
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
   
  }

  #nav li {
    display: block;
    
  
  }

  #nav a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    background-color: #F5EDE4;
   

  }

  #nav a:hover {
    background-color: #dddada;
  }

  #burger-con ul li a {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    margin-left: -37px;
  }
#main-nav {
  grid-column:1/-1;

}

#main-nav label img {
	background: url(../images/burger-mob) center no-repeat;
	border: 0px;
	width: 50px;
	height: 50px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }
 
 #main-nav li:first-child {
     border-top: 1px solid #efefef;
 }
 
 #main-nav li:last-child {
     margin-bottom: 10px;
 }

#burger-con, #main-nav input {
    display: none;
}

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }


 /* ------ MAIN CONTENT -------*/


 button {

    background-color: #817162;
    color: #ffffff;
    padding: 4px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-family: Avenir light;
    letter-spacing: 3px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  
}

button:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}
  
  #bckg-colr {
display: none;
   
  }
 
  
  #bckg-colr-2 {
    display: none;
  }
 
 

 #bckg-colr-4 {
    height: 346px;
    background-color: #D9C7B7;
 }
 
 #text-box {
    height: 200px;
    background-color: #F5EDE4;
 }
  
    #prod-img-1 {
    margin-top: 40px;
    
     
  }

  #prod-img-1 img {
 
   margin-top: 10px;
  border: 12px solid #fcfbed; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
 
}
 
  #text-1 {
    height: 240px;
    background-color: #F2ECE1;
 
    
  }
  #text-1 h2 {
    padding-bottom: 10px;
  }

  #text-1 p {
    padding-bottom: 5px;

  }
  
  #prod-img-2 {
     border: 12px solid #fcfbed;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
  #text-2 {
  height: 200px;
  background-color: #D9C7B7;
  }
  
  #text-2 h2 {
    padding-bottom: 10px;
  }

  #text-2 p {
    padding-bottom: 5px;

  }
  
  #prod-img-3 {
     border: 12px solid #fcfbed;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
  }
  
  #text-3 {
    height: 200px;
   

 }



  #bckg-colr-3 {
    display: none;
 }


  #prod-img-4 {
    height: 346px;
  }
 
  #prod-img-5 {
    height: 346px;
  }
  
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
    max-width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
}

.logo-container img {
    width: 80px; 
    height: auto;
    margin-left: 10%;
}

footer nav {
  display: none;
}
footer nav ul {
    list-style: none;
    display: flex;
}

footer nav li {
    margin-right: 20px;
}

footer nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);;
}

footer nav a:hover {
    text-decoration: underline;
}


  /* ---- ABOUT ---- */




 #abt-prod-img-1 {
 
  display: none;
}

#abt-text-1 {
height: 200px;
background-color: #F5EDE4;
}

#form-msg {
  font-size: 30px;
	font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}



