
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
  }

  #logo {
display: none;
  }

  #nav2 {
    display: none;
  }
  #nav-con {
    display: none;
  }
  #nav {
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
   
  }

  #nav li {
    display: block;
    
  
  }

  #nav a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    background-color: #F5EDE4;
   

  }

  #nav a:hover {
    background-color: #dddada;
  }

  #burger-con ul li a {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    margin-left: -37px;
  }
#main-nav {
  grid-column:1/-1;

}

#main-nav label img {
	background: url(../images/burger-mob) center no-repeat;
	border: 0px;
	width: 50px;
	height: 50px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }
 
 #main-nav li:first-child {
     border-top: 1px solid #efefef;
 }
 
 #main-nav li:last-child {
     margin-bottom: 10px;
 }

#burger-con, #main-nav input {
    display: none;
}

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }



  
  #bckg-colr {
     height: 346px;
     background-color: #817162;
   
  }
 
  
  #bckg-colr-2 {
     height: 346px;
     background-color: #F5EDE4;
  }
 
  #bckg-colr-3 {
    height: 346px;
    background-color: #817162;
 }
 #text-3 {
    height: 200px;
 }
 
 #bckg-colr-4 {
    height: 346px;
    background-color: #D9C7B7;
 }
 
 #text-box {
    height: 200px;
    background-color: #F5EDE4;
 }
  
  #prod-img-1{
     height:346px;
  }
 
  #text-1 {
    height: 200px;
    background-color: #F2ECE1;
  }
  
  #prod-img-2 {
 
     height: 346px;
  }
 
  #text-2 {
  height: 200px;
  background-color: #D9C7B7;
  }
  
  #prod-img-3 {
    
     height: 346px;
  }
  
  #prod-img-4 {
    height: 346px;
  }
 
  #prod-img-5 {
    height: 346px;
  }
  
  footer {
    background-color: #F5EDE4;
    color: rgb(79, 79, 79);
    padding: 20px 0;
    max-width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
}

.logo-container img {
    width: 80px; 
    height: auto;
    margin-left: 10%;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav li {
    margin-right: 20px;
}

footer nav a {
    text-decoration: none;
    color: rgb(79, 79, 79);;
}

footer nav a:hover {
    text-decoration: underline;
}


  /* ---- ABOUT ---- */


  #abt-bckg-colr-1 {
    height: 346px;
    background-color: #F5EDE4;
 }

 #abt-prod-img-1 {
 
  height: 346px;
}

#abt-text-1 {
height: 200px;
background-color: #D9C7B7;
}



